doctype html
html
	head
		title=title
		link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/materialize.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='/stylesheets/zmd.hierarchical-display.min.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto')
		link(rel='stylesheet', href='/stylesheets/wallop.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/s1.css')
		link(rel='stylesheet', href='/stylesheets/s2.css')
		link(rel='stylesheet', href='/stylesheets/s3.css')

		script(type='text/javascript', src='//code.jquery.com/jquery-2.1.4.min.js')
		script(type='text/javascript', src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')
		script(type='text/javascript', src='/scripts/jquery.zmd.hierarchical-display.min.js')
		script(type='text/javascript', src='/scripts/wallop.min.js')
		script(type='text/javascript', src='https://js.braintreegateway.com/v2/braintree.js')
		script(type='text/javascript', src='/scripts/materialize.js')
		script(type='text/javascript', src='/scripts/jquery.validate.js')

		block prescript

	body
		#mainbody
			nav(class='navbar grid')
				div.container-fluid
					div.navbar-header
					div(class="navbar-collapse collapse")
						ul(class=['navbar-nav', 'nav'])
							li
								.logobox
									p Copicat
						ul(class=['navbar-right', 'navbar-nav', 'nav'])
							li
								p Shop
							li
								a(class="nav-button", data-shop="man")
									img(class="maleshop")
							li
								a(class="nav-button", data-shop="woman")
									img(class="femaleshop")
							li
								input.site-search
								i#search-button.material-icons search
			#maincontent
				.grid-nav.man
					ul
						li
							a(href="/man/", class="active") Home
						li
							a(href="/man/shirts") Mens Shirts
						li
							a(href="/man/jackets") Mens Jackets
						li
							a(href="/man/accessories") Mens Accessories
						li
							a(href="/man/watches") Mens Watches
				.grid-nav.woman
					ul
						li
							a(href="/woman/", class="active") Home
						li
							a(href="/woman/shirts") Womens Shirts
						li
							a(href="/woman/jackets") Womens Jackets
						li
							a(href="/woman/dresses") Womens Dresses
						li
							a(href="/woman/accessories") Womens Accessories
						li
							a(href="/woman/watches") Womens Watches
				block content

		block scripts

		script(type='text/javascript').

			$(document).on('click', '.nav-button', function() {
				var button = $(this);
				var shop = '.grid-nav.' + $(button).attr('data-shop');
				var navigation = $(shop);
				if ($(button).hasClass('active')) {
					$(navigation).slideUp( "medium", function() {});
					$(button).removeClass('active');
				} else {
					$('.grid-nav').slideUp( "medium", function() {});
					$('.nav-button').removeClass('active');
					$(navigation).slideDown( "medium", function() {});
					$(button).addClass('active');
				}
			});

			$(document).on('click', '#search-button', function() {
				var button = $(this);
				var searchbox = $('.site-search');
				if ($(button).hasClass('active')) {

					$(searchbox).animate({
						width:'0'
					},350).queue(function (next) {
						$(this).css('display', 'none');
						next();
					});

					$(button).removeClass('active');

				} else {

					$(searchbox).css({
							display: 'block'
					});

					$(searchbox).animate({
						width:'300px'
					},350);

					$(searchbox).focus();
					$(button).addClass('active');
				}
			});
