doctype html
html
	head
		title=title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='/stylesheets/zmd.hierarchical-display.min.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto')
		link(rel='stylesheet', href='/stylesheets/main.css')
		script(type='text/javascript', src='//code.jquery.com/jquery-2.1.4.min.js')
		script(type='text/javascript', src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')
		script(type='text/javascript', src='/scripts/jquery.zmd.hierarchical-display.min.js')

		block prescript
	body
		#mainbody
			nav(class='navbar grid')
				div.container-fluid
					div.navbar-header
					div(class="navbar-collapse collapse")
						ul(class=['navbar-nav', 'nav'])
							li
								.logobox
									img(class="logomain", src="images/cat-head.png")
									p Copicat
						ul(class=['navbar-right', 'navbar-nav', 'nav'])
							li
								p Shop
							li
								img(class="maleshop")
							li
								img(class="femaleshop")
							li
								input.site-search
								i#search-button.material-icons search
			#maincontent
				block content

		block scripts

		script(type='text/javascript').
			$(document).on('click', '#search-button', function() {
				var button = $(this);
				var searchbox = $('.site-search');
				if ($(button).hasClass('active')) {

					$(searchbox).animate({
						width:'0'
					},350).queue(function (next) {
						$(this).css('display', 'none');
						next();
					});

					$(button).removeClass('active');

				} else {

					$(searchbox).css({
							display: 'block'
					});

					$(searchbox).animate({
						width:'300px'
					},350);

					$(searchbox).focus();
					$(button).addClass('active');
				}
			});
