/* ------------------------------------------------------
  |<- FITEME CSS DECLARATIONS
---------------------------------------------------*/
/* Main site skeleton */

body {
    font-weight: normal;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    background-color: #9C9C9C;
}

body.landing {
    background-color: rgb(236,235,240);
    float: left;
    width: 100%;
}

body.man {
    background-color: rgb(117,212,218);
}

body.woman {
    background-color: rgb(234, 76, 137);
}

body.product {

}

.landing #mainbody {
    float: left;
    width: 100%;
    height: auto;
    background: url("/images/model1.png") no-repeat;
    background-color: rgb(117,212,218);
    background-position: -25% 100%;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.5);
}

.lost #mainbody {
    float: left;
    width: calc(100% - 100px);
    margin: 50px;
    height: calc(100vh - 100px);
    background: url("/images/404.png") no-repeat;
    background-color: rgb(117,212,218);
    background-position: 50% 100%;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.5);
}

#mainbody .navbar {
  margin-top:60px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  font-size: 16px;
  border-radius: 0;
}


#mainbody .navbar-icon {
  font-weight: 600;
  display: inline-block;
}


#maincontent {
  float: left;
  padding-bottom: 50px;
  width: 100%;
}

.logobox,
.logobox img,
.logobox p {
  float: left;
  display: inline-block;
}

.logobox img {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 0;
}


.navbar-right li {
    margin-left: 10px;
}

.navbar-right li img{
  height: 50px;
  cursor: pointer;
}


img.maleshop {
    content:url("/images/man-light.png");
}

img.femaleshop {
    content:url("/images/woman-light.png");
}

img.maleshop.active {
    content:url("/images/man-dark.png");
    background-color: white;
    border-radius: 3px;
}

img.female.active {
    content:url("/images/female-dark.png");
    background-color: white;
    border-radius: 3px;
}

.navbar-right li .site-search {
  display: none;
  width: 0;
  float: left;
  line-height: 30px;
  margin-top: 10px;
  padding: 0 10px;
  color: #999;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
}

.navbar-right li i{
  line-height: 50px;
  font-size: 50px;
  cursor: pointer;
  color: #fff;
}

.navbar-right li a{
    padding: 0;
}

.navbar-right li a:hover,
.navbar-right li a:focus {
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.navbar-nav p {
  line-height: 50px;
  font-size: 50px;
  color: #fff;
  padding: 0 10px;
}

.logobox p {
    position: absolute;
    font-size: 250px;
    line-height: 200px;
}


/* -------------------------------
  |<- Landing page styling
--------------------------------*/

.landing  #a0-lock.a0-theme-default .a0-panel button.a0-primary {
    background-color: #75D4DA;
}

.landingbox{
    float: left;
    width: 100%;
    padding: 10px;
}

.landingbox .slogan {
    float: left;
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
}

.landingbox .slogan > .logo {
    font-size: 80px;
}

.landingbox .slogan > .feature {
    border-bottom: 2px solid yellow;
    float: left;
    margin-top:30px;
    margin-bottom:0px;
}

.landingbox .slogan > .feature p {
    color: yellow;
    line-height: 20px;
    font-size: 20px;
}


.landingbox .slogan > h1 {
    color: white;
    font-size: 30px;
    line-height:20px;
    float: left;
}

.landingbox .slogan > p {
    float: left;
    max-width: 480px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 24px;
}

.landingbox ul.gotoshop {
    padding: 0;
    float: left;
    border: 2px solid yellow;
}

.landingbox ul li {
    float: left;
    display: inline-block;
    height: 100px;
}

.landingbox ul li.selection {
    margin-left: 50px;
}
.landingbox ul li:nth-child(3) {
    margin-left:250px;
    clear: both;
}

.landingbox ul li p {
    line-height: 100px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
}

.landingbox ul li img {
    float: left;
    height: 100%;
    cursor: pointer;
}

.landingbox ul li img:hover{
    background-color: yellow;
}

.landingbox ul li img.femaleshop:hover{
    content: url("/images/woman-dark.png");
}

.landingbox ul li img.maleshop:hover{
    content: url("/images/man-dark.png");
}


/* -------------------------------
  |<- Individual page styling
--------------------------------*/

/* Admin page */
.grid {
    width: 80%;
    margin: 0 10%;
    float: left;
}

#grid-content,
.grid-nav {
    width: 100%;
    float: left;
    position: relative;
}

.grid-nav {
    z-index: 8;
}

/* Grid nav stling */
.grid-nav ul {
    padding: 0;
    text-align: right;
}

.grid-nav ul li {
    list-style: none;
    padding: 10px;
}

.grid-nav ul li a {
    color: rgba(255,255,255,0.7);
    font-size: 20px;
    cursor: pointer
}

.grid-nav ul li a:hover,
.grid-nav ul li a.active {
    color: #fff;
    text-decoration: none;
}

/* Grid content styling */
#grid-content .item {
    width: calc(25% - 20px);
    background-color: #fff;
    float: left;
    padding: 50px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

#grid-content .loading {
    display: none;
}
.item .item-img{
    width: 100%;
}

.item .item-price{
    position: absolute;
    right: 0px;
    width: 100px;
    top: -20px;
    padding: 10px;
    color: #333;
}

.item .item-name{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* lightbox & form styling */

#lightbox {

    display: none;
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
    right: 0;
}

#lightbox .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
}

#lightbox .innerbox {
    position: absolute;
    width: 1000px;
    padding: 50px;
    top: 200px;
    left: calc(50% - 500px);
    background-color: #efefef;
    z-index: 9;

}

.innerbox .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/images/preloader.gif') no-repeat;
    background-position: 50% 50%;
    background-color: white;
    z-index:20;
}

.loading h1 {
    text-align: center;
    top: 30%;
    position: relative;
}

.innerbox .view-product {
    min-height: 400px;
    background-color: white;
    float: left;
}

.exitbtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    line-height: 30px;
    z-index:21;
}

.imagebox,
.productbox {
    width: 48.75%;
    float: left;
    position: relative;
}

.imagebox {
    margin-right:1.25%;
    min-height:400px;
}

.productbox {
    margin-left:1.25%;
}

/* Interface stylings */

.accordion-title {
  width: 100%;
  float: left;
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.accordion-title i {
    float: right;
    font-size: 20px;
    line-height: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.accordion-section {
    display: none;
    width: 100%;
    float: left;
}

.accordion-section.active {
    display: block;
}

/* Imagebox stylings */
.imagebox .image-line {
    width: 50%;
    float: left;
    padding: 2px;
    position: relative;
}

.imagebox .image-line.active {
    border: 5px solid yellow;
}

.imagebox .image-line i.delete-option {
    display: none;
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #FF6161;
    border-radius: 15px;
    color: #FFFFEC;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.5);
}

.imagebox .image-line:hover i.delete-option {
  display: block;
}

.image-line img {
    width: 100%;
}


/* Product option styling*/
.productbox .option-line {
    width: 45%;
    float: left;
    margin-right: 5%;
    position: relative;
}

.option-line input {
    border: none;
    padding-left: 10px;
}

.productbox .option-line h3 > i.delete-option {
    position: absolute;
    display: none;
    top: 22px;
    right: 1px;
    cursor: pointer;
    color: #444;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

.productbox .option-line h3:hover > i.delete-option {
    display: block;
}

.productbox .option-line i.delete-option:hover {
    color: #FF6161;
}

.productbox .option-line h3,
.productbox .option-line h3 input {
    width: 100%;
}

.productbox .option-line .option {
    width: 100%;
    float: left;
    height: 50px;
}

.productbox .option-line .option img {
    width: 40px;
    height: 40px;
    float: left;
}

.productbox .option-line .option input[type='text'] {
    height: 40px;
    line-height: 40px;
    float: left;
    width:calc(100% - 80px);
}

.productbox .option-line .option i {
  float: right;
  display: none;
  cursor: pointer;
  background-color: #444;
  border-radius: 15px;
  color: #FFFFEC;
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  margin: 5px;
}

.productbox .option-line .option:hover i {
  display: block;
}

/* Product tag styling */

.tag-line {
    width: calc(50% - 5px);
    height: 40px;
    float: left;
    padding: 5px;
    margin: 2.5px;
    background-color: #FFFF67;
    border-radius: 5px;
}

.tag-line i {
    display: none;
    float: right;
    line-height: 30px;
    margin: 0 5px;
}

.tag-line:hover i {
    display: block;
}

.tag-line input {
    width: calc(100% - 40px);
    line-height: 30px;
    height: 30px;
    float: left;
    background-color: rgba(255,255,255,0.5);
    padding: 0 5px;
    border: none;
}

/* Product general element styling */
.page-link {

}

.product-title {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 30px;
    line-height: 40px;
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid #444;
    box-sizing: content-box;
}

.product-price {
    width: 100px;
    height: 40px;
    border: none;
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
    float: right;
}

.submit {
    text-align:right;
}

.submit button {
    width: 25%;
    margin-right: 12.5%;
    padding: 10px;
    background-color: transparent;
    border: 3px solid #444;
    box-shadow: none;
    font-size: 20px;
}


/* MEDIA CSS */
@media screen and (max-width: 1000px) {
    #lightbox .innerbox {
        width: 90%;
        top: 50px;
        left: 5%;
    }
}

/* -------------------------------
  |<- man display page styling
--------------------------------*/


/* -------------------------------
  |<- product display page styling
--------------------------------*/



body.product #maincontent {
    padding-bottom: 0px;
    z-index: 20;
}

body.product #mainbody .navbar {
    position: relative;
    z-index: 40;
    height: 220px;
    width: 100%;
    padding: 60px 10% 0 10%;
    margin: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    overflow:hidden;
}

body.product .logobox p {
    line-height: 80px;
}

.back-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #444;
    font-size: 30px;
    cursor: pointer;
}


#product {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

#product #leftside {
    width: 50%;
    float: left;
}

#product  #rightside {
    width: 50%;
    float: left;
    padding: 50px 70px;
}

.view-product {
}

#product .tags {
    max-width: 500px;
    float: left;
}

#product .price {
    color: #75D4DA;
}

#product .tag {
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    padding: 0 10px;
    background-color: #efefef;
}

#product .rating {
    margin: 10px 5px;
}

#product select {
    padding: 5px 20px;
    width: 200px;
    margin-bottom: 20px;
}

#product button.purchase {
    width: 200px;
    color: #444;
    background-color: #fff;
    padding: 5px 20px;
    border: 2px solid #444;
    font-size: 20px;
    text-align: center;
}

#product #leftside .Wallop {
    float:right;
    position: relative;
}

#product .Wallop-pagination {
    padding-top: 10px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

#product .Wallop-list {
    margin: 0;
}

.transactionprogress p,
.transactionprogress i {
    display: inline-block;
    float: left;
    line-height: 20px;
}

.transactionprogress a {
    cursor: pointer;
}

.ship input[type="checkbox"] {
    /* margin-right: 5px; */
    float: left;
    height: 20px;
    width: 20px;
    margin-right:10px;
    margin-bottom:5px;
    margin-top:0px;
}

.ship #add-address{
    float: left;
}

#add-address input,
#add-address .chosen-container {
    float: left;
    padding: 5px;
    line-height:20px;
    margin: 2.5px;
    border: 2px solid #444;
    font-size: 16px;
}

#add-address .chosen-container {
    width: calc(100% - 5px);
    padding: 0;
    border-radius:0;
}

#add-address label{
    width: calc(100% - 5px);
    float: left;
    margin: 2.5px;
}

#add-address input.full{ width: calc(100% - 5px); }
#add-address input.half{ width: calc(50% - 5px); }
#add-address input.quarter{ width: calc(25% - 5px); }
#add-address select {
    display: none;
}

#add-address .chosen-container .chosen-single {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: white;
    border: none;
    height:30px;
}
#add-address .chosen-container .chosen-single span {
    float: left;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    line-height:20px;
}

#add-address .chosen-container .chosen-choices > li {
    padding: 5px;
    margin: 0;
    background-color: white;
    border: 0;
    line-height: 20px;
    background-image: none;
    box-shadow: none;
    float: left;
}

#add-address button {
    float: left;
    width: 200px;
    margin: 2.5px;
    padding: 5px 0;
    border: 2px solid #444;
    background-color: white;
    font-size: 20px;
    text-align: center;
}
#checkout {
    margin-top: 20px;
    width: 400px;
    overflow: hidden;
}

#checkout #payment-form {
    margin-bottom: 20px;
}

#checkout input[type="submit"] {
    width: 200px;
    color: #444;
    background-color: #fff;
    padding: 5px 20px;
    border: 2px solid #444;
    font-size: 20px;
    text-align: center;
}


/* -------------------------------
  |<- Add address styling
--------------------------------*/
.add-address-button {
    width: 200px;
    color: #444;
    background-color: #fff;
    padding: 5px 20px;
    border: 2px solid #444;
    font-size: 20px;
    text-align: center;
}

#add-address {
    display: none;
}


/* -------------------------------
  |<- General element styling
--------------------------------*/

.clear {
    clear:both;
}

.Wallop {
    float: left;
}
.Wallop-nav {
    z-index:999;
    cursor: pointer;
    font-size: 30px;
}
.Wallop-buttonPrevious {
    position: absolute;
    left: 0;
}

.Wallop-buttonNext {
    position: absolute;
    right: 0;
}


/* -------------------------------
  |<- CSS MEDIA QUERIES -
    YAY RESPONSIVENESS!
--------------------------------*/
@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}

/* end */
