/* ------------------------------------------------------
  |<- FITEME CSS DECLARATIONS
---------------------------------------------------*/
/* Main site skeleton */

body {
  font-weight: normal;
  font-style: normal;
  background-color: #efefef;
}

#mainbody {
}

#mainbody .navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.nav,
.nav li {
  width: 100%;
}

#mainbody .navbar-icon {
  font-weight: 600;
  display: inline-block;
}

.navbar-icon:last-child {
  float: right;
}

#maincontent {
  float: left;
  padding-bottom: 50px;
  width: 100%;
}

.logobox {
  position: absolute;
  left: calc(50% - 90px);
}
.logobox a {
  padding: 0!important;
}
img.logomain {
  height: 50px;
}

/* -------------------------------
  |<- Individual page styling
--------------------------------*/

/* Admin page */
.grid {
    width: 80%;
    margin: 0 10%;
    float: left;
}
.grid .item {
    width: calc(20% - 4px);
    background-color: #fff;
    float: left;
    padding: 50px;
    margin: 2px;
    position: relative;
}

.item .item-img{
    width: 100%;
}

.item .item-price{
    position: absolute;
    right: 0px;
    width: 100px;
    top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 18, 0.75);
    color: #333;
}

.item .item-name{
    position: absolute;
    bottom: 0;
    width: 100%;
}




/* end */
