/* ------------------------------------------------------
  |<- FITEME CSS DECLARATIONS
---------------------------------------------------*/
/* Main site skeleton */

body {
  font-weight: normal;
  font-style: normal;
  background-color: #efefef;
}

#mainbody {
}

#mainbody .navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.nav,
.nav li {
  width: 100%;
}

#mainbody .navbar-icon {
  font-weight: 600;
  display: inline-block;
}

.navbar-icon:last-child {
  float: right;
}

#maincontent {
  float: left;
  padding-bottom: 50px;
  width: 100%;
}

.logobox {
  position: absolute;
  left: calc(50% - 90px);
}
.logobox a {
  padding: 0!important;
}
img.logomain {
  height: 50px;
}

/* -------------------------------
  |<- Individual page styling
--------------------------------*/

/* Admin page */
.grid {
    width: 80%;
    margin: 0 10%;
    float: left;
}
.grid .item {
    width: calc(20% - 4px);
    background-color: #fff;
    float: left;
    padding: 50px;
    margin: 2px;
    position: relative;
}

.item .item-img{
    width: 100%;
}

.item .item-price{
    position: absolute;
    right: 0px;
    width: 100px;
    top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 18, 0.75);
    color: #333;
}

.item .item-name{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* lightbox & form styling */

#lightbox {

    display: none;
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
    right: 0;
}

#lightbox .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
}

#lightbox .innerbox {
    position: absolute;
    width: 1000px;
    padding: 50px;
    top: 200px;
    left: calc(50% - 500px);
    background-color: #efefef;
    z-index: 9;

}

.innerbox .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/images/preloader.gif') no-repeat;
    background-position: 50% 50%;
    background-color: white;
    z-index:20;
}

.loading h1 {
    text-align: center;
    top: 30%;
    position: relative;
}

.innerbox .view-product {
    min-height: 400px;
    background-color: white;
}

.exitbtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    line-height: 30px;
    z-index:21;
}

.imagebox,
.productbox {
    width: 48.75%;
    float: left;
}

.imagebox {
    margin-right:1.25%;
    min-height:400px;
}

.productbox {
    margin-left:1.25%;
}

.productbox .option-line {
    width: 45%;
    float: left;
    margin-right: 5%;
}
.productbox .option-line h3,
.productbox .option-line h3 input {
    width: 100%;
}

.productbox .option-line .option {
    width: 100%;
    float: left;
    height: 50px;
}

.productbox .option-line .option img {
    width: 40px;
    height: 40px;
    float: left;
}

.productbox .option-line .option input[type='text'] {
    height: 40px;
    line-height: 40px;
    float: left;
    width:calc(100% - 40px);
}

.product-title {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 30px;
    line-height: 40px;
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: 2px solid #444;
    box-sizing: content-box;
}

.product-price {
    width: 100px;
    height: 40px;
    border: none;
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
    float: right;
}
.submit btn


/* MEDIA CSS */
@media screen and (max-width: 1000px) {
    #lightbox .innerbox {
        width: 90%;
        top: 50px;
        left: 5%;
    }
}


/* end */
