@media (min-width: 999px) {

	#product #leftside {
	    width: 30%;
	}

	#product  #rightside {
	    width: 70%;
	    padding: 50px 70px;
	}

	#product #leftside .Wallop {
		float:right;
	}

	#leftside .Wallop-item img { max-height: none; }

}

@media (min-width: 780px) {
	#grid-content .item {
	    width: calc(33% - 20px);
	}

	.landing #mainbody {
	    background: url("/images/model1.png") no-repeat;
	    background-position: 90% 75%;
		background-color: rgb(117,212,218);
	}

	.landingbox{
        padding: 50px;
        float: left;
    }

	.landingbox .slogan > .logo {
	    font-size: 80px;
	    line-height: 80px;
	}

}
