extends ../partials/skeleton

block prescript
	script(type='text/javascript', src='/scripts/formFunctions.js')
	script(type='text/javascript', src='/scripts/getXrate.js')
	script(type='text/javascript').

block content

	if user
		#lightbox
			.backdrop
			.innerbox
				form(class="view-product", action="#", role="form", method="POST")
					i(class="material-icons exitbtn", onClick="showHideProduct()") &#xE14C;
					.imagebox
					.productbox
					.submit
						button(type='submit') Create product
				.loading
					h1 Loading...
		.grid
			.grid-nav
				ul
					li
						a(data-category="H" class="active") Home
					li
						a(data-category="MS") Male Shirts
					li
						a(data-category="MJ") Male Jackets
					li
						a(data-category="MA") Male Accessories
					li
						a(data-category="MW") Male Watches
					li
						a(data-category="FS") Female Shirts
					li
						a(data-category="FJ") Female Jackets
					li
						a(data-category="FA") Female Accessories
					li
						a(data-category="FW") Female Watches
			.grid-content
				each item in items
					.item(data-src="#{item.link}")
						img.item-img(src="#{item.image}")
						h3.item-price= item.price


	else
		.container
			h1  Wanna fite m8?
				p Log in first.
				p
					a.btn.btn-primary(href="/login") Login
				p
					span.small I don't have an account?
					span &nbsp;
					a.small(href="/register") Get 1337.

block scripts
	script(type='text/javascript').
		$(function(){

			$(document).on('click', '.grid-nav li a', function(e){
				var selected = $(this);
				var category = $(selected).attr('data-category');
				console.log('Call API for category: ' + category);
			});

			var exchangeRate;
			$('.item').on('click', function(e){
				var parameters = {
					url: $(this).attr('data-src')
				};
				console.log('sending AJAX request:');
				console.log('Data is: ' + $(this).attr('data-src'));
				showHideProduct();
				getRate(function(usdAud) {
					exchangeRate = usdAud;
				});
				$.get( '/api', parameters, function(data, usdAud) {
					// DATA returned!
					console.log(data);
					// populate form
					populateForm(data, exchangeRate);

					// hide loading animation
					$('#lightbox .loading').css({
						display: 'none'
					});
				});
			});
		});

		// Update DOM functions | Looking pretty
		$(document).ready(function(){
			console.log('running shit');
			var images = $('.item-img');
			for (i= 0; i < images.length; i++) {
				var height = $(images[i]).width();
				$(images[i]).css({
					height: height
				});
			}

			var prices = $('.item-price');
			for (j = 0; j < prices.length; j++) {
				var temp = $(prices[j]).text().replace('US', '');
				$(prices[j]).text(temp)
			}
		});
