extends ../partials/skeleton

block prescript
	script(type='text/javascript', src='/scripts/formFunctions.js')
	script(type='text/javascript', src='/scripts/getXrate.js')
	script(type='text/javascript').

block content

	if user
		h3 Admin
		h3 Products:
		#lightbox
			.innerbox
				form(class="view-product", action="#", role="form", method="POST")
					i.material-icons.exitbtn &#xE14C;
					.imagebox
					.product
					.submit
						button(type='submit')
				.loading
					h1 Loading...


		.grid
			each item in items
				.item(data-src="#{item.link}")
					img.item-img(src="#{item.image}")
					h3.item-price= item.price


	else
		.container
			h1  Wanna fite m8?
				p Log in first.
				p
					a.btn.btn-primary(href="/login") Login
				p
					span.small I don't have an account?
					span &nbsp;
					a.small(href="/register") Get 1337.

block scripts
	script(type='text/javascript').
		$(function(){
			var usdAud = getRate('AUD');

			$('.item').on('click', function(e){
				var parameters = {
					url: $(this).attr('data-src')
				};
				console.log('sending AJAX request:');
				console.log('Data is: ' + $(this).attr('data-src'));
				showHideProduct();
				$.get( '/api', parameters, function(data) {
					// DATA returned!
					console.log(data);
					// populate form
					populateForm(data, usdAud);

					// hide loading animation
					$('#lightbox .loading').css({
						display: 'none'
					});
				});
			});
		});

		// Update DOM functions | Looking pretty
		$(document).ready(function(){
			console.log('running shit');
			var images = $('.item-img');
			for (i= 0; i < images.length; i++) {
				var height = $(images[i]).width();
				$(images[i]).css({
					height: height
				});
			}

			var prices = $('.item-price');
			for (j = 0; j < prices.length; j++) {
				var temp = $(prices[j]).text().replace('US', '');
				$(prices[j]).text(temp)
			}
		});
