extends ../partials/skeleton

block prescript
	script(type='text/javascript', src='/scripts/formFunctions.js')
	script(type='text/javascript', src='/scripts/getXrate.js')
	script(type='text/javascript').


block content

	if user
		#lightbox
			.backdrop
			.innerbox
				form(class="view-product", action="#", role="form", method="POST")
					i(class="material-icons exitbtn", onClick="showHideProduct()") &#xE14C;
					.imagebox
					.productbox
					.submit
						button(type='submit') Create product
				.loading
					h1 Loading...
		.grid
			.grid-nav
				ul
					li
						a(data-category="H" class="active") Home
					li
						a(data-category="MS") Mens Shirts
					li
						a(data-category="MJ") Mens Jackets
					li
						a(data-category="MA") Mens Accessories
					li
						a(data-category="MW") Mens Watches
					li
						a(data-category="WS") Womens Shirts
					li
						a(data-category="WJ") Womens Jackets
					li
						a(data-category="WJ") Womens Jackets
					li
						a(data-category="WA") Womens Accessories
					li
						a(data-category="WW") Womens Watches

			#grid-content.active(data-animation="hierarchical-display")
				each item in items
					.item(data-src="#{item.link}")
						img.item-img(src="#{item.image}")
						h3.item-price= item.price


	else
		.container
			h1  Wanna fite m8?
				p Log in first.
				p
					a.btn.btn-primary(href="/login") Login
				p
					span.small I don't have an account?
					span &nbsp;
					a.small(href="/register") Get 1337.

block scripts
	script(type='text/javascript').
		$(function(){

			$(document).on('click', '.grid-nav li a', function(e){
				var selected = $(this);
				var category = $(selected).attr('data-category');
				console.log('Call API for category: ' + category);

				// Set URL params based on category chosen
				var parameters = {
					url: category
				};

				console.log('sending AJAX request:');
				console.log('Data is: ' + category);

				// (TODO:) EDIT DOM HERE - clear old elements, add new & set loading animation
				showHideGrid();

				$.get( '/api', parameters, function(data) {

					// DATA returned!
					console.log('new category data has been returned: ');
					// populate form
					for (i = 0; i < data.length; i++) {

						if (data[i].image){
							image = data[i].image;
						} else {
							image = data[i].imagesrc;
						}
						var item =
							'<div class="item" data-category="' + category + '" data-src="' + data[i].link + '">' +
								'<img class="item-img" src="' + image + '" />' +
								'<h3 class="item-price">' + data[i].price + '</h3>' +
							'</div>'

						$('#grid-content').append(item);
					}

					squareImages();
					$('#grid-content').hierarchicalDisplay('toggle');
				});
			});

			var exchangeRate;
			$('.grid').on('click', '.item', function(e){
				var parameters = {
					url: $(this).attr('data-src')
				};
				console.log('sending AJAX request:');
				console.log('Data is: ' + $(this).attr('data-src'));
				showHideProduct();
				getRate(function(usdAud) {
					exchangeRate = usdAud;
				});
				$.get( '/api', parameters, function(data, usdAud) {
					// DATA returned!
					console.log(data);
					// populate form
					populateForm(data, exchangeRate);

					// hide loading animation
					$('#lightbox .loading').css({
						display: 'none'
					});
				});
			});
		});

		// Update DOM functions | Looking pretty
		$(document).ready(function() {
			squareImages();
		});
