extends ../partials/skeleton

block prescript

block content
	.grid
		.grid-nav
			ul
				li
					a(data-category="H" class="active") Home
				li
					a(data-category="MS") Mens Shirts
				li
					a(data-category="MJ") Mens Jackets
				li
					a(data-category="MA") Mens Accessories
				li
					a(data-category="MW") Mens Watches

		#grid-content.active(data-animation="hierarchical-display")
			each item in items
				a(href="/man/products/cool-shirt")
					.item(data-src="#{item.link}")
						if item.image
							img.item-img(src="#{item.image}")
						else
							img.item-img(src="#{item.imagesrc}")
						h3.item-price= item.price


block scripts
	script(type='text/javascript').
		$('body').addClass('man');

		// Update DOM functions | Looking pretty
		$(document).ready(function() {
			squareImages();
		});
