extends ../partials/skeleton

block prescript
	script(type='text/javascript', src='/scripts/formFunctions.js')
	script(type='text/javascript', src='/scripts/getXrate.js')
	script(type='text/javascript').


block content

	if user
		#lightbox
			.backdrop
			.innerbox
				form(class="view-product", action="#", role="form", method="POST")
					i(class="material-icons exitbtn", onClick="showHideProduct()") &#xE14C;
					.imagebox
					.productbox
					.submit
						button(type='submit') Create product
				.loading
					h1 Loading...
		.grid
			.grid-nav
				ul
					li
						a(data-category="H" class="active") Home
					li
						a(data-category="MS") Mens Shirts
					li
						a(data-category="MJ") Mens Jackets
					li
						a(data-category="MA") Mens Accessories
					li
						a(data-category="MW") Mens Watches

			#grid-content.active(data-animation="hierarchical-display")
				each item in items
					.item(data-src="#{item.link}")
						img.item-img(src="#{item.image}")
						h3.item-price= item.price


	else
		.container
			h1  Wanna fite m8?
				p Log in first.
				p
					a.btn.btn-primary(href="/login") Login
				p
					span.small I don't have an account?
					span &nbsp;
					a.small(href="/register") Get 1337.

block scripts
	script(type='text/javascript').
		// Update BODY for page - look pretty!
		$('body').addClass('woman');
